<!DOCTYPE html>
<html>
<head>

{{! Document Settings }}
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

{{! Page Meta }}
<title>{{meta_title}}</title>
<link rel="shortcut icon" href="{{asset "/favicon.png"}}">
<meta name="description" content="{{meta_description}}" />


{{> custom/meta this}}

{{! Styles }}
<link href='https://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic,700italic|Open+Sans:300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
<link rel="stylesheet" type="text/css" href="{{asset "css/font-awesome.min.css"}}" />

{{! Responsive Meta Tags }}
<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

{{ghost_head}}

{{! Google Analytics }}
{{> custom/google_analytics this}}

</head>

<body class="{{body_class}}">

{{{body}}}
{{ghost_foot}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
<script type="text/javascript" src="{{asset "js/index.js"}}"></script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=1069296536521494";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</body>


</html>
